#title{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card{
    display: inline-block;
    float: left; 
    width: 5%;
}

.card-text{
    text-align: justify;
}
